/* Small only */
@media screen and (max-width: 39.9375em) {
    .r { 
        @include rows($row-small-width, $row-small-border);
    }

    .c0, .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9 { 
        width: 100%; 
        float: none;
        padding: 10px 0px;  
    }

    .center-small {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6px;
        margin-bottom: 6px;
        text-align: center;
    }

    .right {
        float: none;
    }

   @include fonts($headers-small);

}