footer
 .r
  .c0
   //- Mixin naudojimas aprašyta partials/header.pug
   +navigacija
 .r  
  .c5
   p UAsociacija.eu tai.. Trumpai apie asociaciją. Bus rodoma kiekviename puslapyje dėl SEO
  .c5
   //- Mixin naudojimas aprašyta partials/header.pug
   +kontaktai