footer
 .r  
  .c5
   //- Mixin naudojimas aprašyta partials/header.pug
   +navigacija
  .c5
   //- Mixin naudojimas aprašyta partials/header.pug
   +kontaktai

 .r
  .c0
   img(src="img/erasmus-logo.jpg", alt="Erasmus+" width="300")
   .small-text
    | Icons made by 
    a(href='https://www.flaticon.com/authors/inipagistudio') inipagistudio
    |  from 
    a(href='https://www.flaticon.com') www.flaticon.com