footer
 .r  
  .c5
   //- Mixin naudojimas aprašyta partials/header.pug
   +navigacija
  .c5.right
   //- Mixin naudojimas aprašyta partials/header.pug
   +kontaktai
   
   
  //-  .small-text.right
  //-   | Icons made by 
  //-   a(href='https://www.flaticon.com/authors/inipagistudio') inipagistudio
  //-   |  from 
  //-   a(href='https://www.flaticon.com') www.flaticon.com
  