section
 .r
  .c4
   include activities.svg

  .c6
   h1#activities Activities
   ul.news
    li: a(target="_blank" href="https://www.facebook.com/permalink.php?story_fbid=579525659301498&id=377993492788050") Workshop with children, led by the architect Aurelija Slapikaitė
    li: a(target="_blank" href="https://www.facebook.com/media/set/?set=a.382891358964930&type=3") Raštingumo seminaras „Finansinių instrumentų apžvalga“
    li: a(target="_blank" href="https://www.facebook.com/media/set/?set=a.382890112298388&type=3") Advokatės Kristinos Sūnaitienės paskaita "Paveldėjimo teisiniai aspektai"
    li: a(target="_blank" href="https://www.facebook.com/media/set/?set=a.382888868965179&type=3") Dr. Tomo Veršinsko paskaita apie investicijas ir išlaidų mažinimą
    li: a(target="_blank" href="https://www.facebook.com/media/set/?set=a.377997252787674&type=3") EBRU paintings with disabled children
    li: a(target="_blank" href="https://www.facebook.com/media/set/?set=a.377995362787863&type=3") Design of furniture with disabled children
    

 .r
  .c4
   include about-us.svg
   
  .c6
   h1#about-us About Us
   p Association for Youth and Senior Occupation (Jaunimo ir senjorų užimtumo asociacija) is a non-profit organization targeting the following areas:
   ul.about
    li children, youth, adults and seniors' social, cultural and multicultural activities
    li lifelong learning activities promoting volunteering, sustainable development, gender equality
    li promotion of regional development, civil society, education
    li socio-educational activities at local, regional and European level (work with special needs children)
    li international cooperation and communication with other relevant Lithuanian and European organizations
   p Association is actively engaged in events for youth and seniors in different fields, for example promotes culture, culinary arts, organizes events on financial literacy and education for seniors.
   p Association members have a rich experience educating children, including children with handicaps or special needs using different methods, including Ebru painting method. The President of the Association has more than 40 years of practice in teaching children, including children with special needs and diabilities. She has occupied a position of a vice-director of one of the Lithuanian VET shools and also lectured art classes. Other staff involved in the activities of the project also have strong experience in working with children and/or students in schools and universities.


 .r
  .c0
  h1#association-members Association members
 .r 
  .c3
   include members.svg
   h2 Ignas Veršinskas
   p is a scenarist, film director with 8 years of experience in the field. He worked on commercials, ads, documentaries and independent film projects both in Lithuania and abroad – as a writer, director, actor and composer.
   p He received a bachelor's degree in Digital Film and Television at LUCT in Malaysia and business management degree in ISM university in Vilnius.
   | Ignas participated in many international projects including Netflix’s “Marco Polo”, Michael Mann’s “Black Hat”, French “Koh Lanta” and many more. He is currently actively working on a broad range of productions with 
   |
   a(target="_blank" href="www.oddfilms.lt") Oddfilms team
   | . Ignas is also lecturing in the Academy of Music and Theater of Lithuania.
   p  Experienced and versatile in different media platforms and genres including both - documentary and fiction.
  .c3
   include members.svg
   h2 Aurelija Jurkonė
   p has a bachelor decree in architecture from Vilnius Gediminas Technical University (2007) and from the Norwegian University of Science and Technology (with honors) (2007).
   p She has a Master‘s decree in Architecture Studies (direction- building renovation) from Vilnius Gediminas Technical University (2009) (with honors). Aurelija Jurkonė is deeply involved in art related children and youth education projects.
   p From 2012 to 2014 she was involved in 6 different projects of „Creation partnerships“ (Kūrybinės partnerystės) in 6 different Lithuanian schools and worked with schoolchildren.
   p In 2013-2014 she was a member of Masterships program (Meistrystės programa). In 2013 she also participated in International Creative Practitioner Forum.
   p She was also actively involved in the practical workshops of Architecture Fund (Architektūros fondas) during the period 2013-2014 and worked with children on variuos educational projects related to art.
   p Besides her work as an architect and interior designer since 2006, Aurelija is also a photographer.
  .c3
   include members.svg
   h2 Asta Slapikaite
   p is a MSc graduate in Development and International relations at Aalborg University (Denmark) with interest in rural-urban development, food and farming, communities and ethnic groups as well as sustainable development.
   p She is a previous Blue Book Trainee in the Cabinet of Phil Hogan, ex-commissioner for agriculture and rural development, having a broad understanding of the CAP and other policy instruments in the EU.
   | She participated in a wide range of programs and exchanges, especially related to European food system and farming practices, such as 
   a(target="_blank" href="https://www.bondproject.eu") BOND project
   |  which aims at developing a healthier, more productive and harmonious farming sector in Europe as well as participation in the Terra Madre Salone del Gusto 2018 as part of the Danish Slow Food delegation