<!DOCTYPE html>
html(lang="en")
    head
      block head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //- sitename from metadata in metalsmith
        //- title from *.md file
        title #{sitename} - #{title}
        include ./tools/google-analytics.pug
        include ./tools/facebook-ograph.pug
        include ./tools/favicon.pug

        include ./tools/font-awesome.pug
        link(href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=latin-ext" rel="stylesheet")

        link(rel="stylesheet", href=siteurl + style_sheet)
        
    body
    
      block header
       include ./partials/header.pug

      block main
       include ./partials/apie-mus.pug
       
      block footer
       include ./partials/footer.pug
       