meta(property="fb:app_id" content=facebook_appid)
meta(property="og:title" content=sitename)
meta(property="og:type" content="website")
meta(property="og:url" content=siteurl)
meta(property="og:image" content=siteurl_fb_img)