//Alignment
$position: relative;

.right {
    float: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-both {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Padding
$padding: 40px;

.p {
    padding: 0 $padding $padding 0;
}

.text-right {
    text-align: right;
    padding-right: $padding;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}