//Fonts
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-style: normal;
  font-weight: 400;
  color: $title-color;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.4;
  color: $title-color;
}

// Font sizes for mediaqueries: font-size, margin-bottom
$headers-small: ( 
  h1: 2rem 3rem,
  h2: 1.8rem 3rem,
  h3: 1.6rem 3rem,
  h4: 18 3rem,
  h5: 17 3rem,
  h6: 16 3rem
);

$headers-medium: (
  h1: 2rem 3rem,
  h2: 1.8rem 3rem,
  h3: 1.6rem 3rem,
  h4: 18 3rem,
  h5: 17 3rem,
  h6: 16 3rem
);

$headers-medium-up: (
  h1: 2rem 3rem,
  h2: 1.8rem 3rem,
  h3: 1.6rem 3rem,
  h4: 18 3rem,
  h5: 17 3rem,
  h6: 16 3rem
);

$headers-large: (
  h1: 2rem 3rem,
  h2: 1.8rem 3rem,
  h3: 1.6rem 3rem,
  h4: 18 3rem,
  h5: 17 3rem,
  h6: 16 3rem
);

$headers-large-up: (
  h1: 2rem 3rem,
  h2: 1.2rem 1rem,
  h3: 3rem 1rem,
  h4: 18 1rem,
  h5: 17 1rem,
  h6: 16 1rem
);

p {
  font-size: 1rem;
  padding: 0 0 20px 0;
  margin: 0;
  font-weight: 300;

  &.h {
    font-size: 1.4rem;
    font-weight: 400;
  }
}

a {
    line-height: inherit;
    color: $a-color;
    text-decoration: $a-text-decoration;
    cursor: pointer; 
  
  &:hover, &:focus {
    color: $a-hover-color;
  }
    
  img { border: 0; }
}

ul {
  margin-left: 0px;

  li {
    margin: 10px 0;
    cursor: pointer;
  }
}