// Video
embed, iframe, object {
    display: block;
    margin-bottom: 10px;
    border-width: 0px;
}

.video {
    position: relative;
    width: 100%;
    overflow: hidden;
  
  &:before {
    content: "";
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    display: block;
    overflow: hidden;
    margin: 0;
    border: 0; }
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
}

//Image
.img {
    position: relative;
    display: block;
    border: $img-border;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    height: auto;
}